In [87]:
#import dependencies
import pandas as pd
import splinter
from bs4 import BeautifulSoup as bs
import time
from splinter import Browser
from pprint import pprint

In [88]:
os.getcwd()
#os.chdir('C:/Users/jp_ba/Desktop/WebScraping')

'C:\\Users\\jp_ba\\Desktop\\WebScraping'

In [89]:
executable_path = {'executable_path': 'C:/Users/jp_ba/Desktop/WebScraping/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [97]:
#url and visit with Splinter
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [98]:
# Create BeautifulSoup object; parse with 'html'
soup = bs(browser.html, 'html.parser')

In [99]:
# Extract title text
news_title = soup.find_all('div', class_='content_title')[0].text
print(news_title)

Space Samples Link NASA's Apollo 11 and Mars 2020

In [101]:
#Paragraph text from url
news_p = soup.find('div', class_="article_teaser_body").get_text()
print (news_p)

While separated by half a century, NASA's Apollo 11 and Mars 2020 missions share the same historic goal: returning samples to Earth.

In [102]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)
soup = bs(browser.html, 'html.parser')

In [107]:
#Create object to find image
image_url = soup.find('article')['style']
image_url = image_url.replace('background-image: url(','').replace('(','').replace(');','')[1:-1]

featured_image_url = ('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars' + image_url)
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/wallpaper/PIA17551-1920x1200.jpg

In [113]:
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

# Create BeautifulSoup object; parse with 'html'
soup = bs(browser.html, 'html.parser')

In [115]:
#Text from Twitter
timeline = soup.select('#timeline div.js-actionable-tweet')

for twitter in timeline:
    # select the tweet id 
    tweet = twitter['data-screen-name']
    
    if tweet == "MarsWxReport":
        tweet_text = twitter.select('p.tweet-text')[0].get_text()
        mars_weather = tweet_text

print(mars_weather)

InSight sol 230 (2019-07-20) low -99.3ºC (-146.8ºF) high -26.1ºC (-15.0ºF)
winds from the SE at 4.0 m/s (9.0 mph) gusting to 15.2 m/s (34.1 mph)
pressure at 7.60 hPapic.twitter.com/fP2WO4xxjh

In [59]:
url4 = 'https://space-facts.com/mars/'
browser.visit(url4)

# Create BeautifulSoup object; parse with 'html'
soup = bs(browser.html, 'html.parser')

In [117]:
facts = pd.read_html(url4)
facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [118]:
df_facts = pd.DataFrame(facts[0])
df_facts

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [119]:
html_facts = df_facts.to_html()
html_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [122]:
#Visit astrogeology url
url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url5)

html = browser.html
soup = bs(html, "html.parser")

In [123]:
#Select items
items = soup.find_all('div', class_='item')

base_url = "https://astrogeology.usgs.gov"

In [126]:
#Empty list to append when iterated
hemisphere_image_urls = []

#Iterate through items to visit urls and retrieve image urls
for x in items: 
    title = x.find('h3').get_text()
    image_url = x.find('a', class_="itemLink product-item")['href']
    browser.visit(base_url + image_url)
    html = browser.html
    soup = bs(html, "html.parser")
    resolution_url = soup.find('img',class_='wide-image')['src'] 
    hemisphere_image_urls.append(
        {"title":title,
         "image_url":base_url + resolution_url}
    )
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
# Retrieve the parent divs for all articles
results = soup.find_all('li', class_='')

# Loop through results to retrieve article title, header, and timestamp of article
for result in results:
    title = result.find('h2', class_='').text

    

    # Insert dictionary into MongoDB as a document
    collection.insert_one()

In [ ]:
# Iterate through all pages
for x in range(50):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain book information
    articles = soup.find_all('article', class_='')

    # Iterate through each book
    for article in articles:
        # Use Beautiful Soup's find() method to navigate and retrieve attributes
        h3 = article.find('h3')
        link = h3.find('a')
        href = link['href']
        title = link['title']
        print('-----------')
        print(title)
        print('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars' + href)

    # Click the 'Next' button on each page
    try:
        browser.click_link_by_partial_text('next')
          
    except:
        print("Scraping Complete")

In [ ]:
# Read HTML from file
filepath = os.path.join("..", "templates", "index.html")
with open(filepath) as file:
    html = file.read()